fastapi==0.115.12
fastapi-cli==0.0.7
fastjsonschema==2.21.1
ipykernel==6.29.5
ipython==9.0.1
ipython_pygments_lexers==1.1.1
numpy==2.2.6
pandas==2.2.3
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
streamlit==1.45.1
unicode==2.9
Unidecode==1.4.0
uvicorn==0.34.2
