
fastapi==0.115.12
fastapi-cli==0.0.7
fastjsonschema==2.21.1
flake8==7.2.0
ipykernel==6.29.5
ipython==9.0.1
ipython_pygments_lexers==1.1.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==2.2.6
pandas==2.2.3
plotly==6.1.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
seaborn==0.13.2
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
streamlit==1.45.1
unicode==2.9
Unidecode==1.4.0
uvicorn==0.34.2